body {
    background-image: url("../images/gallifreyan-tiles.jpg");
    background-repeat: repeat-y repeat-x;
    
}

div.titleSpace {
    text-align: center;
}

div {
    color: #ffffff;
    text-align: center;
}