/*Sticky Footer CSS*/
.footer {
    position: fixed;
    clear: both;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #666666;
    color: #ffffff;
    border-top: 10px solid #4aaaa5;
  }

  .navbar {
    background-color: #ffffff;
    border-color: #cccccc;
    padding-bottom: 0px;
    border-bottom: 1px solid #cccccc;
  }
/* Title */
  .navbar .navbar-brand {
    background-color: #4aaaa5;
    padding: 10px;
    padding-bottom: 20px;
    color: #ffffff;
  }

  .navbar-nav {
    color: #4aaaa5;
  }

  body {
    background-image: url("../images/webb.png");
    background-repeat: repeat-y repeat-x;
  }

  #profilePic {
    float: left;
    padding: 20px;
  }

  .mainContent{
    background-color: #ffffff;
    padding-bottom: 50px;
  }

  h1, h2, h3, h4, h5, h6, .navbar {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
  }

  p, input, textarea {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
  }

  footer p {
    color: #ffffff;
  }

  .portfolioImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%
  }

  .projectLabel {
    background-color:#4aaaa5;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 25px;
    padding: 10px;
    height: 35px;
    line-height: 15px; 
  }

  button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
  }

  .projectText {
    color: #ffffff;
  }